body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: white;
  color: black;
}

h1, h2 {
  color: forestgreen;
}

* {
  box-sizing: border-box;
}

#startpage {  
  position: fixed;
  z-index: 1;
  width: 98%;
  height: 600px;
  top: 10px;
  left: 10px; 
  padding: 5px;
  border: 3px solid black;
  background: cornflowerblue;   
  text-align: center;
}

#maintitle {
  color: black;
  font-size: 40px;
}

#startbutton {
  border: 1px solid blue;
  background: antiquewhite;
  width: 100px;
  font-size: 24px;
  padding: 10px;
  margin: auto;
}

#mainMessages {
  position: fixed;
  width: 60%;
  top: 100px;
  left: 10px;
}

#storyPart {
  color: darkgreen;
  font-size: 20px;
}

#message1 {
  color: darkgreen;
  font-size: 20px;
}

#message2 {
  color: darkgreen;
  font-size: 20px;
}
#message3 {
  color: black;
  font-size: 18px;
}

#menu {
  color: rgb(167, 4, 207);
  font-size: 18px;
}

#contents {
  color: rgb(167, 4, 207);
  font-size: 18px;
}

#continue {
  border: 1px solid black;
  position: fixed;
  top: 325px;
  left: 15px;
}

#actions {
  color: black;
  font-size: 18px;
}

#collect {
  color: blue;
  font-size: 20px;
}

#fightalert{
  position: fixed;
  color: red;
  z-index: 3;
  width: 450px;
  height: 450px;
  top: 160px;
  left: 140px; 
  font-size: 26px;
}

#fighting {
  position: fixed;
  z-index: 1;
  width: 450px;
  height: 450px;
  top: 90px;
  left: 10px;  
}

#fightstats {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 200px;
  top: 0;
  font-size: 26px;
  background: white;
}
#minons {
  font-size: 20px;
}
#hit {
  font-size: 20px;
}
#howto {
  font-size: 16px;
}


table {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: whitesmoke;
  border: 5px double black;
  border-collapse: collapse;
}

tr {  
  width: 100%;
  height: 50px;
}

td {
  border: 1px solid black;
  width: 50px;
  height: 100%;
  text-align: center;
  color: red;
  font-size: 28px;
}

#playerX {
  color: darkgreen;
  font-size: 36px;
}

#cutawayBox {  
  position: fixed;
  z-index: 1;
  width: 60%;
  height: 260px;
  top: 90px;
  left: 5px; 
  padding: 5px;
  border: 2px solid black;
  background: azure;  
}

#helperInfo {  
  position: fixed;
  z-index: 1;
  width: 30%;
  height: 600px;
  top: 90px;
  right: 0px; 
  padding: 10px;
  border-left: 2px solid black;
}

#instructions {
  color: black;
  font-size: 20px;
}

#openmap1 {
  border: 1px solid black;
  position: relative;
}

#map1 {
  border: 2px solid black;
  position: relative;
}

#end {
  color: darkgreen;
  font-size: 20px;
  position: fixed;
  top: 300px;
  left: 15px;
}
