body {
  font-family: "Courier New", monospace;
  background: white;
  color: black;
}

h1 {
  color: forestgreen;
  margin-top: 0px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

#startpage {  
  position: fixed;
  z-index: 1;
  width: 98%;
  max-width: 1200px;
  height: 600px;
  top: 10px;
  left: 10px; 
  padding: 5px;
  border: 3px solid black;
  background: cornflowerblue;   
  text-align: center;
}

#startbutton {
  border: 1px solid blue;
  background: antiquewhite;
  width: 100px;
  font-size: 24px;
  padding: 10px;
  margin: auto;
}

#page {
  width: 98%;
  max-width: 1200px;
  height: 600px;
  border: 3px solid black;
  overflow: auto;
  padding: 20px;
}

#storyBox {  
  padding: 20px;
  height: 85%;
  border: 2px solid black;
  background: black; 
  color: white;   
  font-size: 20px;
  line-height: 1.2em;
}
#input {
  display: inline-block;
  margin-top: 20px;
}

#contents {
  color: rgb(224, 118, 251);
  font-size: 18px;
}
#actions {
  color: rgb(187, 210, 213);
  font-size: 18px;
}
#collect {
  color: rgb(170, 170, 250);
  font-size: 20px;
}

#fightalert{
  position: fixed;
  color: red;
  z-index: 3;
  width: 450px;
  height: 450px;
  top: 160px;
  left: 140px; 
  font-size: 26px;
}

#fighting {
  position: fixed;
  z-index: 1;
  width: 450px;
  height: 450px;
  top: 90px;
  left: 10px;  
}

#fightstats {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 200px;
  top: 0;
  font-size: 26px;
  background: white;
}
#minons {
  font-size: 20px;
}
#hit {
  font-size: 20px;
}
#howto {
  font-size: 16px;
}


table {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: whitesmoke;
  border: 5px double black;
  border-collapse: collapse;
}

tr {  
  width: 100%;
  height: 50px;
}

td {
  border: 1px solid black;
  width: 50px;
  height: 100%;
  text-align: center;
  color: red;
  font-size: 28px;
}

#playerX {
  color: darkgreen;
  font-size: 36px;
}

#helperInfo { 
  width: 1200px;
  padding: 10px;
}

#instructions {
  color: black;
  font-size: 20px;
  padding-left: 20px;
}

#openmap1 {
  border: 1px solid black;
  position: relative;
}

#map1 {
  border: 2px solid black;
  position: relative;
}

#end {
  color: darkgreen;
  font-size: 24px;
  visibility: collapse;
}
